.main_articles{

    @include tab{
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;

        & .swiper-grid-column>.swiper-wrapper{
            flex-direction: row;
        }

        & .swiper-slide{
            height: calc((100% - 30px) / 2);
            margin-bottom: 30px;

            
        }
                & .swiper-slide:nth-last-child(2n){
                    margin-bottom: 0;
                }
    }
    
}
 

    
// .main_articles{
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     // grid-template-columns: 1fr 1fr;
// }
.main_articles__wrap{
    margin-bottom: 30px;

    @include tab{
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        flex-basis: calc(50% - 20px);
        margin-bottom: 50px;
    
        &:nth-last-child(-n+2) {
            margin-bottom: 0;
        }
    }
}

.main_articles__img{
    border-radius: 14px;
    overflow: hidden;
    position: relative;
    width: 100%;
    display: block;
    padding-top: 70%;
    margin-bottom: 20px;

    & img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
    }

    @include tab{
        padding-top: 0;
        height: 195px;
        width: 195px;
        padding-left: 31%;
        margin-bottom: 0;
    }
}
.main_articles__init{ 
    @include tab {
        margin-left: 20px;
    }
}
.main_articles__name{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;

    @include tab {
        -webkit-line-clamp: 1;
    }
}
.main_articles__date{
    display: flex;
    margin-bottom: 15px;

    & span{
        font-weight: 500;
        color: $secondaryIco;
        margin-left: 10px;
    }
}
.main_articles__icon{
    width: 17px;
    height: 17px;
    fill: $secondaryIco;
}
.main_articles__text{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 70px;
    color: $secondaryTxt;
    margin-bottom: 20px;

    @include tab {
        -webkit-line-clamp: 3;
        height: 60px;
    }
}
.main_articles__btn{
    background-color: $seclightBtnBg;
    border-radius: 30px;
    font-weight: 500;
    color: $accentDarkTxt;
    padding: 12px 20px;
    transition: background-color 250ms $trans, color 250ms $trans;

    &:hover, &:focus{
        background-color: $accentDarkBg;
        color: $primaryLightTxt;
    }
}
.main_articles__arrow{
    width: 21px;
    height: 12px;
    fill: $accentDarkIco;
    transition: fill 250ms $trans;

    .main_articles__btn:hover &,
    .main_articles__btn:focus &{
        fill: $primaryIco;
    }
}