$primaryTxt: #333333;
$primaryLightTxt: #ffffff;
$primaryLightHoverTxt: #f1f0ef;
$secondaryTxt: #5A6765;
$accentDarkTxt: #05AA82;
$attentionTxt: #FF5454;


$primaryBg: #ffffff;
$accentLightBg: #05BC90;
$accentDarkBg: #05AA82;
$attentionBg: #FF5454;
$inactiveInputBg: #F1F0EF;
$sectionDarkBg: #F1F0EF;
$sectionLightBg: #F9F9F8;
$footerBg: #1E1E1E;
$activeBg: #FF9C54;

$lightBtnBg: #D9F2ED;
$seclightBtnBg: #F9FAFA;
$darkBtnBg: #05AA82;
$darkHoverBtnBg: #059975;


$primaryIco: #ffffff;
$accentDarkIco: #05AA82;
$hoverIco: #FF6954;
$secondaryIco: #5A6765;


$placeholderTxt: #5A6765;
$darkBord: #5A6765;
$lightBord: #D9D9D9;
$accentBord: #05AA82;




$trans: cubic-bezier(0.45, 0.05, 0.55, 0.95);





